body{
    background-color: white;
    color: rgb(255, 255, 255);
    border: solid px;
    text-align:center
}
.valor{
    color: rgb(255, 255, 255);
    text-align:center
}

p{
    color:rgb(250, 243, 243);
    text-align:center;
    font-size: small;
    
}

h2{
    color: black;
    border: solid 2px;
    font-size: large;
}

h1{
    font-size:xx-large;
    color: white;
}

.codigo{
    background-color: #F15E02;
    border: solid 5px;
    color: black;
    margin-left: 440px;
    margin-right: 440px;
   
    padding: 100px

    
}

.teste{
    margin-left: 100px;
}

span{
    border: solid 2px;
}

img{
    width: 600px
}